flows.json
[{"id":"678438c6.d2d9e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb135f77.9a714","type":"ui_form","z":"678438c6.d2d9e8","name":"","label":"","group":"1979fc2b.6b03ac","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles ","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":false,"rows":null},{"label":"under-five deaths ","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"m","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":240,"wires":[["e644fd59.51b93"]]},{"id":"e644fd59.51b93","type":"function","z":"678438c6.d2d9e8","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"f9oOZMrSSZ26D1Gx2HyXnU2JfLAwy66-F3Rvaza4sTUk\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["d5093313.8eb3b"]]},{"id":"d5c9f6d3.a1ff58","type":"http request","z":"678438c6.d2d9e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/7b5149df-d618-4d9a-b7c5-97990a077b76/deployments/2ea0fa09-c85f-4c44-96f0-94eaa2bc8657/online","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":320,"wires":[["5ef70664.7d4a08","7eadb26d.5cbafc"]]},{"id":"c043b8bf.201d28","type":"debug","z":"678438c6.d2d9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1002,"y":178,"wires":[]},{"id":"7eadb26d.5cbafc","type":"function","z":"678438c6.d2d9e8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":791,"y":214,"wires":[["c043b8bf.201d28","3cd11f34.ff61f"]]},{"id":"5ef70664.7d4a08","type":"debug","z":"678438c6.d2d9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":835,"y":427,"wires":[]},{"id":"295ea320.ee086c","type":"function","z":"678438c6.d2d9e8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"7b5149df-d618-4d9a-b7c5-97990a077b76\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Year', 'Status', 'Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population',' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":549,"y":428,"wires":[["d5c9f6d3.a1ff58"]]},{"id":"d5093313.8eb3b","type":"http request","z":"678438c6.d2d9e8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":497,"y":200,"wires":[["295ea320.ee086c"]]},{"id":"3cd11f34.ff61f","type":"ui_text","z":"678438c6.d2d9e8","group":"1979fc2b.6b03ac","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1008.0000152587891,"y":265.99999618530273,"wires":[]},{"id":"1979fc2b.6b03ac","type":"ui_group","z":"","name":"Default","tab":"10f3fbdb.54c3ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"10f3fbdb.54c3ac","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]